{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Annotate!{% endblock %}

{% block heading %}

<!-- <div class="row"> -->
<!-- <h1 class="col-md-4">Annotate! -->
<!--   <button class="btn btn-info" -->
<!--           id="btnPause" -->
<!--           data-onstyle="primary">Pause</button> -->
<!-- </h1> -->
<!-- <div class="col-md-4"></div> -->
<!-- <div class="col-md-4"> -->
<!--   {% if sessionStart %} -->
<!--   <div id="sessionDiv" value="{{ sessionStart }}" class="text-right"></div> -->
<!--   {% endif %} -->
<!-- </div> -->
<!-- </div> -->

<h1>
  <div class="row">
    <div class="col-md-6">Annotate!
      <button class="btn btn-info"
              id="btnPause"
              data-onstyle="primary">Pause</button>
    </div>
    <div class="col-md-6">
      {% if sessionStart %}
      <div id="sessionDiv" value="{{ sessionStart }}" class="text-right"></div>
      {% endif %}
    </div>
  </div>
</h1>

{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- <div class="input-group"> -->
<!--   <input type="text" class="form-control" placeholder='<span class="tag tag-primary">Primary</span>'> -->
<!--   <span class="input-group-btn"> -->
<!--     <button class="btn btn-secondary" type="button">Add</button> -->
<!--   </span> -->
<!-- </div> -->

{% if document %}
<p>
  <div class="form-group">
    <textarea
       class="form-control"
       rows="10"
       id="document" readonly autofocus>{{ document.document }}</textarea>
  </div>
</p>
{% else %}
<p>Oops, something went wrong. No documents were found.</p>
{% endif %}

<form action="{% url "index" %}" method="post" id="annotation-form" onsubmit="return measureUserTime();">
  {% csrf_token %}
  {% if labels %}
  {% for label in labels %}
  <label for="id_labels_{{ forloop.counter0 }}"
         class="btn btn-primary">
    <input id="id_labels_{{ forloop.counter0 }}"
           name="labels"
           value="{{ label.pk }}"
           {% if label.option == 'check' %}
           type="checkbox"
           {% endif %}
           {% if label.option == 'radio' %}
           type="radio"
           {% endif %}
           autocomplete="off"></input> {{ label.label }} </label>
  {% endfor %}
  {% else %}
  <p>Oops, something went wrong. No labels were found.</p>
  {% endif %}
  {% if document %}
  <input id="old_pk" name="old_pk" type="hidden" value="{{ document.pk }}"></input>
  {% endif %}
  <input id="oldProposals" name="oldProposals" type="hidden" value="{{ proposals }}"></input>
  {% if oldQueueElement %}
  <input id="oldQueueElement" name="oldQueueElement" type="hidden" value="{{ oldQueueElement.pk }}"></input>
  {% endif %}
  {% if oldProposalFlag %}
  <input id="oldProposalFlag" name="oldProposalFlag" type="hidden" value="{{ oldProposalFlag }}"></input>
  {% endif %}
  <input id="duration" name="duration" type="hidden"></input>
  <input id="sessionStart" name="sessionStart" type="hidden"></input>
  </br>
  </br>
  <input id="btnSubmit" type="submit" class="save btn btn-default" value="Submit" /></input>
</form>

<!-- Some divs containing the proposed labels -->
{% if proposals %}
{% for proposal in proposals %}
<div name="proposals" style="display: none;">{{ proposal }}</div>
{% endfor %}
{% endif %}

{% endblock %}
