{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Annotate!{% endblock %}

{% block heading %}
<h1>Annotate! <button class="btn btn-info"
                      id="btnPause"
                      data-onstyle="primary">Activate Pause</button></h1>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if document %}
<p>
  <div class="form-group">
    <textarea
       class="form-control"
       rows="5"
       id="document" readonly>{{ document.document }}</textarea>
  </div>
</p>
{% else %}
<p>Oops, something went wrong. No documents were found.</p>
{% endif %}


<form action="/annotation/" method="post" id="annotation-form" onsubmit="return measureUserTime();">
  {% csrf_token %}
  {% if labels %}
  {% for label in labels %}
  <label for="id_labels_{{ forloop.counter0 }}"
         class="btn btn-primary">
    <input id="id_labels_{{ forloop.counter0 }}"
           name="labels"
           value="{{ label.pk }}"
           {% if label.option == 'check' %}
           type="checkbox"
           {% endif %}
           {% if label.option == 'radio' %}
           type="radio"
           {% endif %}
           autocomplete="off"></input> {{ label.label }} </label>
  {% endfor %}
  {% else %}
  <p>Oops, something went wrong. No labels were found.</p>
  {% endif %}
  <input id="old_pk" name="old_pk" type="hidden" value="{{ document.pk }}"></input>
  <input id="duration" name="duration" type="hidden"></input>
  </br>
  </br>
  <input id="btnSubmit" type="submit" class="save btn btn-default" value="Submit" /></input>
</form>

<!-- Some divs containing the proposed labels -->
{% if proposals %}
{% for proposal in proposals %}
<div name="proposals" style="display: none;">{{ proposal }}</div>
{% endfor %}
{% endif %}

{% endblock %}
